.button {
  padding: 4px;
  margin: 10px;
  background-color: bisque;
  border: 2px solid rgb(239, 199, 151);
  box-shadow: 4px 4px 2px 2px rgba(255, 228, 196, 0.4);
  border-radius: 5px;
  font-weight: 600;
}

.button:hover {
  opacity: 0.6;
  box-shadow: 4px 4px 2px 2px rgba(255, 228, 196);
}

.garage-block,
.win-block {
  color: white;
}

.garage-title,
.garage-page-title,
.win-title,
.win-page-title {
  margin: 10px;
}
