.win-table {
  margin: 10px;
}

.th,
.tb {
  width: 155px;
  height: 40px;
  border: 1px solid #bbb;
  padding: 5px;
  text-align: left;
}

.th {
  background-color: blue;
}

.car.car-icon {
  position: absolute;  
  left: 175px;
}

.win-alert {
  position: absolute;
  top: 48vh;
  left: 48vw;
  width: 300px;
  height: 50px;
  color: yellow;
  text-shadow: 3px 0 10px red;
  font-size: 32px;
  z-index: 100;
}