.winners-table {
  margin: 10px;
}

.th,
.tb {
  width: 155px;
  height: 40px;
  border: 1px solid #bbb;
  padding: 5px;
  text-align: left;
}

.th {
  background-color: blue;
}

.car.car-icon {
  position: absolute;
  top: 160px;
  left: 175px;
}