.sources {
    position: fixed;
    top: 80px;  
    float: left;  
    left: 0;    
    display: flex;
    flex-wrap: wrap;
    width: 30vw;    
    height: calc(100vh - 140px);
    overflow-y: scroll; 
    scrollbar-color: blue #30c5ff;    
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(8, 23, 53, 0.6), rgb(36, 141, 250, 0.5));   
    border: 2px solid #30c5ff;
    z-index: 100;
}
/* width */
.sources::-webkit-scrollbar {
    width: 7px;
}

/* Track */
.sources::-webkit-scrollbar-track {
    background: #30c5ff;
}

/* Handle */
.sources::-webkit-scrollbar-thumb {
    background: blue;
    border-radius: 5px;
}

/* Handle on hover */
.sources::-webkit-scrollbar-thumb:hover {
    background: darkblue;
}

.source__item,
.menu {
    display: inline-block;
    background: none;
    border: 2px solid #30c5ff;
    border-radius: 4px;
    font: inherit;
    line-height: 0.8;
    margin: 2px;
    padding: 10px;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;  
    display: none;  
}

.menu:hover {
    opacity: 60%;
}

.sources.pushed {
    display: block;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

@media (max-width: 1025px) {    
    .sources {
        width: 200px;
    }
}

@media (max-width: 915px) {  
    .menu {
        display: block;
    }  
    .sources {
        display: none;
    }
}