body {
    color: #fff;
    background: url('./img/news_placeholder.jpg');
    background-size: cover;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 0 30px;
    text-align: center;  
    background: linear-gradient(45deg, rgb(8, 23, 53, 0.6), rgb(36, 141, 250, 0.5));
    z-index: 10;  
}

header h1 {
    font-size: 40px;
    font-weight: 800;    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #30c5ff;
    background: linear-gradient(45deg, rgb(8, 23, 53, 0.6), rgb(36, 141, 250, 0.5));
    z-index: 10;
}
footer .copyright {
    font-size: 14px;
    color: #30c5ff;
    text-align: center;
}
footer .copyright a {
    color: #30c5ff;
}
footer .copyright a:hover {
    color: #69db7e;
}
footer .copyright:before {
    content: '©';
}
