body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #277cf8;
    background: url('./img/news_placeholder.jpg');
    background-repeat: repeat;
    background-size: cover;        
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    padding: 0;
    text-align: center;  
    background: linear-gradient(90deg, rgb(8, 23, 53), rgb(36, 141, 250));
    z-index: 100;
}

header h1 {
    margin: 10px auto;
    font-size: 36px;
    font-weight: 800;    
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 14px;  
    border: 10px sold;  
    background: linear-gradient(90deg, rgb(36, 141, 250), rgb(8, 23, 53));
    z-index: 10;
}

.footer_item {
    display: inline-block;    
}

.footer_link {
    text-decoration: none;
    color: white;
}

.footer_logo {
    width: 150px;
    height: 40px;
    background: url('./img/rs_school_js.svg');
    background-size: hover;
    background-repeat: no-repeat;
}

.footer_link:hover {
    color: #69db7e;
}

footer .copyright:before {
    content: '© ';
}

