body {
    color: #fff;
    background: url('./img/news_placeholder.jpg');
    background-size: cover;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 30px;
    text-align: center;    
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #30c5ff;
}
footer .copyright {
    font-size: 14px;
    color: #30c5ff;
    text-align: center;
}
footer .copyright a {
    color: #30c5ff;
}
footer .copyright a:hover {
    color: #69db7e;
}
footer .copyright:before {
    content: '©';
}
