.about__content {
    display: flex;        
    justify-content: space-around;
}


.about__image {    
    width: 300px;    
    height: 100%;
}

.about__text {    
    width: 430px;    
}