.about {
    background-color: $color-header-light;
}

.about__content {    
    display: flex;  
    flex-wrap: wrap;      
    justify-content: space-between; 
    padding: 80px 175px 100px;   
    @include media-tablet {
        padding: 80px 165px 100px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 80px;
    }
}


.about__image { 
    display: inline-block;
    margin: 0;
    width: 300px;    
    height: 100%;
}

.about__text {    
    display: inline-block;    
    width: 430px; 
    padding: 14px 0px; 
    h3 {
        width: 370px;
        margin: 0;
        padding: 0;        
    }
    p {
        margin: 25px 0 0;
        color: $color-text-dark;
    }      
}