.donation {
    background-color: $color-bg-friends;
}

.donation__content {
    padding: 80px 182px 100px 183px; 
    display: flex;
    flex-wrap: wrap;
    p {
        margin: 0;
    }    
}

.donation__image {
    margin: 11px 0 10px;
}

.donation__text {    
    display: inline-block;    
    width: 380px;  
    p, h5, button {
        margin-top: 20px;
    };
    h5 {
        color: $color-header-dark;
    };  
    p {        
        color: $color-text-small;
    }; 
}

.icon__card {
    display: inline-block;    
}