.friends {
    background-color: $color-bg-friends;
    padding: 80px 40px 100px;
    text-align: center;
    align-content: center;
    h3 { 
    display: inline-block;
    text-align: center;
    width: 400px;        
    margin: 0;
    } 
    .pets__h3 {
        margin-top: 200px;
    }  
    @include media-tablet {
        padding: 80px 30px 100px;        
    }
    @include media-tablet {
        padding: 42px 25px;  
        h3 {
            width: 300px;
        }      
    }
} 

.friends__content {
    display: flex;
    align-items: center;   
    text-align: center;   
    position: relative; 
} 

.button__block {
    display: inline-block;
}