.friends {
    background-color: $color-bg-friends;
    padding: 80px 0 100px;
}

.friends__content {
    text-align: center;    
    h3 {        
        display: inline-block;
        width: 400px;
        text-align: center;
        margin: 0;
    }
}
    
.slider {
    display: flex;
    justify-content: space-between;
    padding: 60px 105px;
}

