.header {
    position: fixed;    
    top: 30px;       
}

.header__wrapper {
    display: flex;    
    justify-content: space-between;
    align-content: center;
}

.logo__image {  
    display: inline;      
    width: 184px;
    height: 60px;    
}

