.header {
    position: fixed;    
    top: 30px;
    padding: 0 40px;
}

.logo__block {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.logo__image {        
    width: 184px;
    height: 60px;    
}

