.help {
    background-color: $color-card;
    padding: 80px 40px 45px;    
}


.help__content {
    text-align: center;    
    h3 {        
        display: inline-block;        
        text-align: center;
        margin: 0;
    }
}
    
.help__list {    
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    list-style: none; 
    gap: 120px;   
    @include media-tablet {            
        gap: 60px;      
    }   
}

.help__item {
    margin-bottom: 55px;
}
