.promo {
    height: 100%vh;
    background: $color-bg-start-screen;   
    padding-top: 180px; 
}

.promo_content {
    display: flex;  
    flex-wrap: no-wrap;  
    justify-content: space-between;
    text-align: center;           
}

.promo__text {    
    display: inline-block;
    margin: 0, 42px, 0, 0;      
    max-width: 460px;  
    h2 {
        color: $color-header-light;
    }
    p {
        color: $color-text-light;
    }
    align-content: center; 
}

.promo__image {
    display: inline-block;
    max-width: 698px;
    height: 100%;    
}