.wrapper {
    max-width: $laptop-width;
    margin: 0 auto;
    @include media-tablet {
        max-width: $tablet-width;
    }
    @include media-mobile {
        max-width: $mobile-width;
    }
}