html {
    font-size: 10px;
}

body {    
    @extend %font-georgia;
    font-size: 1.6rem;
    padding: 0 40px;
}

h2 {    
    @extend %font-georgia;
    @include font( , 44px, 57px, 400, 0em, left);
}

h3 { 
    @extend %font-georgia;      
    @include font( , 35px, 45px, 400, 0.06em);
}

//@include font(family, , size, height, weight, space, align);