html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: Arial, Verdana, sans-serif;
}

h2 {
    font-family: Georgia, serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
}

h3 {   
    font-family: Georgia, Tinos, serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.06em;    
}

h3  {
    font-family: Georgia, Tinos, serif;
    font-style: Regular;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 6%;
}

.promo_content {   
    font-family: Arial, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}