html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
}

h2 {
  font-size: 4.4rem;
  line-height: 5.72rem;
  font-weight: 400;
  letter-spacing: 0em;
  color: #ffffff;
}
@media (max-width: 320px) {
  h2 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}

h3 {
  font-size: 3.5rem;
  line-height: 4.55rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}
@media (max-width: 320px) {
  h3 {
    font-size: 2.5rem;
    line-height: 3.2rem;
    font-weight: 400;
    letter-spacing: 0.06em;
  }
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
}

h5 {
  font-size: 1.5rem;
  line-height: 1.65rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin: 0;
}

.font-p-L {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-weight: 400;
  letter-spacing: 0em;
}

.font-p-S {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 400;
  letter-spacing: 0em;
}

.button, body, h2, h3, h4, h5 {
  font-family: Georgia, Tinos, serif;
}

.font-p-L, .font-p-S {
  font-family: Arial, Verdana, sans-serif;
}

.button {
  cursor: pointer;
  border-radius: 100px;
  padding: 15px 45px 15px 45px;
  gap: 10px;
  font-size: 17px;
  line-height: 22.1px;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #292929;
}
.button a {
  text-decoration: none;
  color: #292929;
}
.button-colored {
  background-color: #F1CDB3;
  border: none;
}
.button-uncolored {
  background-color: #FAFAFA;
  border: #F1CDB3 solid 1px;
}

.button__bank {
  display: inline-flex;
  flex-wrap: no-wrap;
  cursor: pointer;
  border-radius: 9px;
  padding: 10px 15px;
  color: #292929;
  background-color: #F1CDB3;
  border: none;
}

.button-circle {
  cursor: pointer;
  height: 52px;
  width: 52px;
  border-radius: 100px;
  color: #292929;
}
.button-circle-colored {
  background-color: #F1CDB3;
  border: none;
}
.button-circle-uncolored {
  border: #F1CDB3 solid 2px;
}
.button-circle-inactive {
  color: #CDCDCD;
  border: #CDCDCD solid 2px;
}

.buttons {
  display: flex;
  gap: 20px;
}

#burger {
  border: none;
  background: none;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 443px;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar__link {
  color: #CDCDCD;
  text-decoration: none;
}
.navbar__link:hover, .navbar__link:focus, .navbar__link:active {
  cursor: pointer;
  color: #FAFAFA;
  text-decoration: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
  text-decoration-color: #F1CDB3;
}

.pets__navbar__link {
  color: #545454;
}
.pets__navbar__link:hover, .pets__navbar__link:focus, .pets__navbar__link:active {
  color: #292929;
}

.card {
  display: inline-block;
  width: 270px;
  height: 100%;
  background-color: #FAFAFA;
  text-align: center;
  margin-bottom: 30px;
}
.card * {
  margin-bottom: 30px;
}

.hamburger__line, .hamburger-icon::after, .hamburger-icon::before {
  display: inline-block;
  content: "";
  position: absolute;
  background-color: #F1CDB3;
  height: 2px;
  width: 100%;
}

.hamburger-icon {
  display: none;
  position: relative;
  width: 30px;
  height: 22px;
  z-index: 2;
  transition: transform 0.5s;
}
.hamburger-icon::before {
  top: 0;
  left: 0;
}
.hamburger-icon::after {
  bottom: 0;
  left: 0;
}

.hamburger__line {
  top: calc(50% - 1px);
  left: 0;
}

@media (max-width: 375px) {
  .hamburger-icon {
    display: block;
  }
  .header.open .hamburger-icon {
    transform: rotate(90deg);
  }
  nav {
    display: none;
  }
  .header.open nav {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #292929;
    width: 320px;
    height: 823px;
  }
  .header.open .navbar {
    display: block;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    text-align: center;
  }
  .header.open .navbar__link {
    display: block;
    margin-bottom: 40px;
    font-size: 3rem;
    line-height: 4.8rem;
    font-weight: 400;
    letter-spacing: 0em;
  }
}
.slider {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  width: 990px;
  height: 435px;
  padding: 0 40px;
  margin: 60px 53px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .slider {
    gap: 40px;
    margin: 0 12px;
  }
  .slider:nth-child(3) {
    display: none;
  }
}
@media (max-width: 320px) {
  .slider {
    gap: 40px;
    margin: 0 12px;
  }
  .slider:nth-child(2) {
    display: none;
  }
}

.pet__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 40px 30px;
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: 0px;
  }
}
.transition-right {
  animation-name: move-right;
  animation-duration: 5s;
}

@keyframes move-left {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}
.transition-left {
  animation-name: move-left;
  animation-duration: 5s;
}

.notdisplay {
  display: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.pets__header {
  background-color: #ffffff;
}

.header__block {
  margin: 30px 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: inline-block;
  margin: 0;
}
@media (max-width: 320px) {
  nav {
    display: none;
  }
}

.logo__image {
  display: inline-block;
  width: 184px;
  height: 60px;
}

@media (max-width: 320px) {
  .header nav {
    display: none;
  }
}

.friends {
  background-color: #F6F6F6;
  padding: 80px 40px 100px;
  text-align: center;
  align-content: center;
}
.friends h3 {
  display: inline-block;
  text-align: center;
  width: 400px;
  margin: 0;
}
.friends .pets__h3 {
  margin-top: 200px;
}
@media (max-width: 768px) {
  .friends {
    padding: 80px 30px 100px;
  }
}
@media (max-width: 768px) {
  .friends {
    padding: 42px 25px;
  }
  .friends h3 {
    width: 300px;
  }
}

.friends__content {
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}

.button__block {
  display: inline-block;
}

.footer {
  background: linear-gradient(to right, #513D2F, #211F20);
}

.footer__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 40px 40px 0;
}
@media (max-width: 768px) {
  .footer__block {
    padding: 30px 30px 0;
    justify-content: center;
    align-content: center;
    gap: 60px;
  }
}
@media (max-width: 320px) {
  .footer__block {
    padding: 42px 10px 0;
    align-content: center;
    gap: 30px;
  }
}

.footer__item {
  display: inline-block;
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: start;
  margin: 16px 0 0;
  height: 234px;
  width: 302px;
}
.contacts h3 {
  color: #ffffff;
}
.contacts h4 {
  color: #F1CDB3;
}
.contacts img {
  margin-right: 20px;
}

.contacts__item {
  display: flex;
  flex-wrap: no-wrap;
}

.footer__image {
  display: inline-block;
  width: 300px;
  height: 100%;
  margin: 0;
}
@media (max-width: 320px) {
  .footer__image {
    width: 260px;
  }
}/*# sourceMappingURL=pets.css.map */