$color-bg-start-screen: linear-gradient(#5B483A, #211F20);
$color-primary: #F1CDB3;
$color-header-light: #ffffff;
$color-header-dark: #545454;
$color-text-light: #CDCDCD;
$color-text-dark: #4C4C4C ;
$color-btn-text: #292929;
$color-bg-friends: #F6F6F6;
$color-card: #FAFAFA;
$color-text-small: #B2B2B2;
$color-bg-footer: linear-gradient(#513D2F, #211F20);

$content-width: 1280px;
$tablet-wisth: 768px;
$mobile-width: 320px;
