.button {   
    cursor: pointer; 
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    gap: 10px;
    @extend %font-georgia;    
    @include font(17px, 22.1px, 400, 0.06em);
    color: $color-btn-text;
    &-colored {
        background-color: $color-primary;
    }
    &-uncolored {
        border: $color-primary solid 1px;
    }
}


