.button {   
    cursor: pointer; 
    border-radius: 100px;
    padding: 15px 45px 15px 45px;
    gap: 10px;
    @extend %font-georgia;    
    @include font(17px, 22.1px, 400, 0.06em);
    color: $color-btn-text;
    &-colored {
        background-color: $color-primary;
        border: none;
    }
    &-uncolored {
        border: $color-primary solid 1px;
    }
}

.button__bank { 
    display: inline-flex;
    flex-wrap: no-wrap;  
    cursor: pointer;  
    border-radius: 9px;
    padding: 10px 15px;
    color: $color-btn-text;
    background-color: $color-primary;
    border: none;        
}
