.navbar {   
    display: flex;  
    flex-wrap: wrap; 
    list-style: none;  
    width: 443px;
    justify-content: space-between;
    align-items: center;   
    margin: 0;
    padding: 0;       
}

.navbar__link {
    // margin-left: 35px;
    color: $color-text-light;  
    text-decoration: none; 
    &:hover, &:focus, &:active {
        cursor: pointer;
        color: $color-card;
        text-decoration: underline;
        text-underline-offset: 7px;
        text-decoration-thickness: 3px;
        text-decoration-color: $color-primary;
    }
}

.pets__navbar__link {
    color: $color-header-dark;
    &:hover, &:focus, &:active {
        color: $color-btn-text;
    }
}