.navbar {   
    display: flex;  
    flex-wrap: wrap; 
    list-style: none;       
}

.navbar__item {    
    margin-left: 35px;       
}   

.navbar__link {
    color: $color-text-light;  
    text-decoration: none;  
    &:hover, &:focus, &:active {
        color: $color-card;
        text-decoration: underline;
    }
}
