.editor {    
  display: flex;
  text-align: left;
  min-width: 500px;
  width: 60vw;
  margin: 20px;
  border: solid 10px rgba(0, 0, 0, 0.35); 
  border-radius: 5px; 
  overflow: hidden;
  font-family: 'Menlo', monospace;
  font-size: 14px;
  line-height: 150%;   
}

.editor-panel {
  display: inline-block;
  min-width: 250px;
  width: 30vw;
  border: 1px solid rgb(48, 48, 47);
}

.editor-header {  
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;  
  padding: 10px 15px;
  background: rgb(39, 36, 30);
}

.editor-numColumn {
  float: left;  
  padding: 0 5px;
  font-family: 'Menlo', monospace;
  width: 18px;
  height: content;  
  text-align: right; 
  border: 1px solid rgb(48, 48, 47);
}

.css-editor {  
  background-color: rgb(239, 239, 239);
  color: rgb(170, 170, 170);  

  & .editor-numColumn {
    background-color: rgb(221, 221, 221);
    color: rgb(153, 153, 153);
    border: none;
  }
}

.html-viewer {
  background-color: rgb(32, 29, 24);
}

.css-input {
  display: inline-block;
  margin: 5px;
  padding: 2px;
  width: calc(30vw - 110px);
  border: none;
  line-height: 1.4rem;
  letter-spacing: 1.5px;  
  color: rgb(45, 44, 44);  
}

.css-input:hover, .css-input:focus, .css-input:active {
  border: none;
}

.css-button {
  padding: 5px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 5px;
  box-shadow: 3px 3px 0px rgb(153, 153, 153);
  color: rgb(45, 44, 44);
  float: right;
  margin: 2px;
}