.level-block {
  position: fixed;
  right: 0;
  width: 25vw;
  height: 100vh;  
  padding: 1rem;
  margin-left: 1rem;  
  background-color: #1b1813;
  color: rgba(114, 236, 98, 0.6);
  text-align: center;
}

.level-header {
  margin: 10px auto;
  letter-spacing: 2px;
  text-shadow: .07em 0 rgb(46, 42, 35, 0.95); 
}

.level-panel {
  display: flex;
  flex-wrap: wrap;
  height: content;
  padding: 15px;  
  flex-direction: column;
  align-items: center;
}

.level-button {
  display: inline-block;
  width: 150px;  
  padding: 5px;
  margin: 10px;
  border: 4px ridge rgba(114, 236, 98, 0.95);
  border-radius: 5px;; 
}

.activeLevel {
  background-image: linear-gradient(135deg, #FDE910, #00FF00, #FDE910, #00FF00);
}

.passed {
  background-color: #00FF00;
  opacity: 80%;
}