@keyframes moveThings {  
  0%   {transform: skew(5deg, 5deg);}    
  100% {transform: skew(-5deg, -5deg);}
}

.tableHeader {  
  color: rgba(255,255,255,.3);
  font-size: 45px;  
  margin: 10px auto;
  font-weight: 400;
  text-align: center;  
}

.table {  
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: end;
  min-width: 500px;
  width: content;
  height: 280px;
  border: 4px ridge rgba(46, 42, 35, 0.95); 
  background-image: repeating-linear-gradient(#CDA434, #ED760E 15%, #47402E 10%);
  opacity: 95%;  
  transform: perspective(200px);   
}

.table-items {  
  display: inline-block;
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
  margin: 20px;  
  background-repeat: no-repeat;
  background-size: cover;  
}

.small {
    width: 70px;
    height: 70px;
}

.animated {
  animation-name: moveThings;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.napkin {
  background-image: url('./assets/napkin.svg'); 
}

.book {
  background-image: url('./assets/book-red.svg');
}

.bookGreen {
  background-image: url('./assets/book-green.svg');
}

.cat {
  background-image: url('./assets/cat-grey.svg');
  right: 25px;
}

.catOrange {
  background-image: url('./assets/cat-orange.svg');
  right: 25px;
}

.letter {
  background-image: url('./assets/letter.svg');
  right: 25px;
}
