@keyframes moveThings {  
  0%   {transform: skew(5deg, 5deg);}    
  100% {transform: skew(-5deg, -5deg);}
}

.tableHeader {  
  color: rgba(114, 236, 98, 0.6);
  font-size: 45px;  
  margin: 10px auto;
  font-weight: 400;
  text-align: center; 
  text-shadow: .07em 0 black; 
}

.table {  
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: end;
  padding: 20px;
  min-width: 500px;
  width: content;
  height: 260px;
  border: 4px ridge rgba(114, 236, 98, 0.95);
  border-radius: 5px;
  background-image: linear-gradient(135deg, #FDE910, #00FF00, #FDE910, #00FF00);
  opacity: 90%;  
  transform: perspective(200px);   
}

.table-items {  
  display: inline-block;
  position: relative;
  top: -40px;
  width: 100px;
  height: 100px;
  margin: 15px;  
  background-repeat: no-repeat;
  background-size: cover;  
}

.small {
    width: 70px;
    height: 70px;
}

.animated {
  animation-name: moveThings;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.napkin {
  background-image: url('./assets/napkin.svg'); 
  right: -10px;
}

.book {
  background-image: url('./assets/book-red.svg');
  right: 5px;
}

.bookGreen {
  background-image: url('./assets/book-green.svg');
}

.cat {
  background-image: url('./assets/cat-grey.svg');
  right: 10px;
}

.catOrange {
  background-image: url('./assets/cat-orange.svg');
  right: 10px;
}

.cat.small,
.catOrange.small {
  right: 0;
}

.letter {
  background-image: url('./assets/letter-white.svg');
  right: 15px;
}
