@import './scss/normalize.scss';
@import './scss/table.scss';
@import './scss/editor.scss';
@import './scss/aside.scss';
@import './scss/footer.scss';

html {
  padding: 0;

  & * {
    margin: 0;
    padding: 0;    
  }
}

body * {  
  box-sizing: border-bos;  
  font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;  
}

.wrapper {  
  display: flex;
  flex-direction: column;
  float: left;
  width: 70vw;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgb(46, 42, 35, 0.95);
  overflow-y: sccroll;

  & ::-webkit-scrollbar {
    width: 5px;
    background: red;
  }  
  /* Track */
  & ::-webkit-scrollbar-track {    
    border-radius: 5px;
  }  
  /* Handle */
  & ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  /* Handle on hover */
  & ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}